archive/
ThyUS2Path/data/
ThyUS2Path/result/
ThyUS2Path/results/
*.zip
*.rar
*.7z
*.tar.gz
*.pth
*.h5
*.weights
*.onnx
*.svg
# --- Python & Cache ---
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# --- IDE & OS ---
.vscode/
.idea/
.DS_Store
*.swp

# --- Logs & Visualization ---
runs/
logs/
*.log
.tensorboard/